/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
/*  border: none;
  border-bottom: 2px solid __border__;
  border-right: 2px solid __border__;
  background-color: __background_alt__;*/
}
.popup {
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
  background:linear-gradient(to bottom, __background_alt__ 5%, __background_neu__ 100%);
  background-color:__background_alt__;
  border-radius:6px;
  border:1px solid __border__;
  display:inline-block;
  cursor:pointer;
  /*color:__text_alt__;*/
  /*font-family:Arial;*/
  /*font-size:15px;*/
  /*font-weight:bold;*/
  /*padding:6px 24px;*/
  /*text-decoration:none;*/
  text-shadow:0px 1px 0px __background_neu__;
}
.popup:hover {
  background:linear-gradient(to bottom, __background_neu__ 5%, __background_alt__ 100%);
  background-color:__background_neu__;
}
.popup:active {
  position:relative;
  top:1px;
}


/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* FIXME: Not able to dismiss the bubble when losing focus */

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
